
body { margin:20px; color:#444444;}
html { background-color: white; font-family: Arial, Lucida Grande, sans-serif; line-height: 1.25em; }

a:link { font-family:Arial,sans-serif; font-style:normal; text-decoration:none; line-height:1.5em; color:#0000FF; margin:0; padding:0; }
a:visited { font-family:Arial,sans-serif; font-style:normal; text-decoration:none; line-height:1.5em; color:#0000FF; margin:0; padding:0; }
a:hover { font-family:Arial,sans-serif; font-style:normal; text-decoration:underline; line-height:1.5em; color:#0000FF; margin:0; padding:0; }
a:active { font-family:Arial,sans-serif; font-style:normal; text-decoration:none; line-height:1.5em; color:#0000FF; margin:0; padding:0; }
a:focus { font-family:Arial,sans-serif; font-style:normal; text-decoration:none; line-height:1.5em; color:#0000FF; margin:0; padding:0; }

h1 { font-size: 20px; padding-top:25px; color:#333366;}
h2 { font-size: 16px; padding-top:20px; color:#333366;}
h3 { font-size: 14px; padding-top:5px; color:#333366;}


#bottom { font-size: 12px; line-height:1em; }

#error { color:#FF5555; }

#searchresultadress { color:#00AA00; font-size:12px; }
#searchresultsummary{ color:#555555; font-size:12px; }
#searchblock { line-height:0.9em;}

